---
import { buildSlug } from "@utils/utils"

import PageLayout from "@layouts/PageLayout.astro"
import { type Meta, type Schema } from "@components/core/MySEO.astro"

import Section from "@components/core/Section.astro"
import Row from "@components/core/Row.astro"
import MyImage from "@components/ui/MyImage.astro"
import Button from "@components/ui/Button.astro"

import CTA from "@components/widgets/CTA.astro"
import WorkingRules from "@components/parts/WorkingRules.astro"

const meta: Meta = {
  title: "Oferta - Cyfryzacja i automatyzacja",
  description:
    "Pomagam niemal we wszystkim jeśli chodzi o rozwiązania cyfrowe. Projektuję, buduję, konfiguruję i wdrażam. Diagnozuję i rozwiązuje problemy.",
  openGraph: {
    basic: {
      title: "Oferta - Łukasz Miłoś",
      type: "website",
    },
    optional: {
      description:
        "Zapoznaj się z ofertą Łukasza Miłoś dotyczącą usług związanych z tworzeniem, oceną, poprawą i rozwojem stron internetowych oraz wdrazaniem narzędzi cyfrowych.",
    },
  },
  twitter: {
    title: "Oferta - Łukasz Miłoś",
    description:
      "Zapoznaj się z ofertą Łukasza Miłoś dotyczącą usług związanych z tworzeniem, oceną, poprawą i rozwojem stron internetowych oraz wdrazaniem narzędzi cyfrowych.",
  },
}

const schema: Schema = {
  "@context": "http://schema.org",
  "@type": "Website",
  url: "https://lukaszmilos.pl/oferta/",
  name: "Oferta - Łukasz Miłoś",
  description:
    "Zapoznaj się z ofertą Łukasza Miłoś dotyczącą usług związanych z tworzeniem, oceną, poprawą i rozwojem stron internetowych oraz wdrazaniem narzędzi cyfrowych.",
}
---

<PageLayout
  pageTitle="Oferta"
  pageDescription="Zobacz, w czym szczególnie mogę Ci pomóc"
  meta={meta}
  schema={schema}>
  <Section center>
    <div class="flex max-w-prose flex-col gap-4 md:text-center">
      <p class="text-h2">
        Zacznij działać w sieci i <span class="text-accent">
          zbuduj swoją bazę, pozycję i kapitał na przyszłość.
        </span>
      </p>
    </div><Row maxColumns={2} placement="items-stretch"
      ><div
        class="flex flex-col justify-between gap-8 rounded bg-gray-light p-8 shadow-sm">
        <div class="h-64">
          <MyImage
            src="pages/tworzenie-strony-www.webp"
            alt="Projekt kreślarski krzesła umieszczony na stronie internetowej."
            loading="eager"
          />
        </div>
        <div class="flex flex-col gap-4">
          <h2 class="text-h4">Tworzenie strony internetowej</h2><p
            class="text-lg">
            Zleć budowę nowej strony internetowej dla Twojej firmy, by otworzyć
            się na nowych klientów i lepiej obsługiwać aktualnych.
          </p>
        </div>
        <!-- <IconList
          class="text-gray-dark"
          items={[
            "Jakiej strony internetowej potrzebujesz?",
            "Jaki ma spełniać cel?",
            "Jak ma wyglądać i działać?",
          ]}
        /> -->
        <Button
          link={buildSlug("/oferta/tworzenie-strony-www")}
          class="self-stretch md:self-start">
          Sprawdź oferę tworzenia strony
        </Button>
      </div><div
        class="flex flex-col justify-between gap-8 rounded bg-gray-light p-8 shadow-sm">
        <div class="h-64">
          <MyImage
            src="pages/tworzenie-sklepu-www.webp"
            alt="Transport w handlu e-commerce (sklepie internetowym)"
            loading="eager"
          />
        </div><div class="flex flex-col gap-4">
          <h2 class="text-h4">Tworzenie sklepu internetowego</h2><p
            class="text-lg">
            Zleć budowę sklepu internetowego, by zyskać niezależność w sprzedaży
            online, budować swoją markę i kapitał na przyszłość.
          </p>
        </div>
        <!-- <IconList
          class="text-gray-dark"
          items={[
            "Jaki sklep internetowy potrzebujesz?",
            "Jak ma wyglądać i działać?",
            "Czy potrzebujesz wsparcia w obsłudze?",
          ]}
        /> -->
        <Button
          link={buildSlug("/oferta/tworzenie-sklepu-www")}
          class="self-stretch md:self-start">
          Sprawdź ofertę tworzenia sklepu
        </Button>
      </div></Row
    ></Section
  >

  <Section center class="bg-gray-light"
    ><div class="flex max-w-prose flex-col gap-4 md:text-center">
      <p class="text-h2">
        Zmień swoją stronę (sklep) www na lepszą - <span class="text-accent">
          zyskaj widoczność, wiarygodność i lepszą skuteczność
        </span>
      </p>
    </div><Row maxColumns={3} placement="items-stretch"
      ><div
        class="flex flex-col justify-between gap-8 rounded bg-gray-lightest p-8 shadow-sm">
        <div class="h-64">
          <MyImage
            src="pages/ocena-strony-www.webp"
            alt="Osoba przeglądająca notatki dot. strony internetowej przypięte na tablicy."
          />
        </div><div class="flex flex-col gap-4">
          <h2 class="text-h4">Ocena strony internetowej lub sklepu</h2><p
            class="text-lg">
            Zleć ocenę strony internetowej, by poznać jej braki i
            niedoskonałości, przez które wiele tracisz. Dowiedz się, jak Twoją
            witrynę ocenia specjalista.
          </p>
        </div>
        <!-- <IconList
          class="text-gray-dark"
          items={[
            "Jakiej błędy można zauważyć?",
            "Jaki jest ich skutek?",
            "Jak je naprawić?",
          ]}
        /> -->
        <Button
          link={buildSlug("/oferta/ocena-strony-www")}
          class="self-stretch md:self-start">
          Sprawdź ofertę oceny strony
        </Button>
      </div><div
        class="flex flex-col justify-between gap-8 rounded bg-gray-lightest p-8 shadow-sm">
        <div class="h-64">
          <MyImage
            src="pages/poprawa-strony-www.webp"
            alt="Tablet wyświetlający grafikę strony internetowej, a wokół widoczne są różne elementy i narzędzia naprawcze."
          />
        </div><div class="flex flex-col gap-4">
          <h2 class="text-h4">Poprawa strony internetowej lub sklepu</h2><p
            class="text-lg">
            Zleć poprawę swojej strony internetowej na podstawie wcześniejszego
            audytu lub konkretnego aspektu, który chcesz poprawić.
          </p>
        </div>
        <!-- <IconList
          class="text-gray-dark"
          items={[
            "Gdzie zauważasz problem?",
            "Co chcesz poprawić?",
            "W czym potrzebujesz pomocy?",
          ]}
        /> -->
        <Button
          link={buildSlug("/oferta/poprawa-strony-www")}
          class="self-stretch md:self-start">
          Sprawdź ofertę poprawy strony
        </Button>
      </div><div
        class="flex flex-col justify-between gap-8 rounded bg-gray-lightest p-8 shadow-sm">
        <div class="h-64">
          <MyImage
            src="pages/rozwoj-strony-www.webp"
            alt="Nowoczesne i rozwinięte miasto z wysokimi budynkami i dużą ilością światła na drodze."
          />
        </div><div class="flex flex-col gap-4">
          <h2 class="text-h4">Rozwój strony internetowej lub sklepu</h2><p
            class="text-lg">
            "Doradź się lub zleć dodanie nowej funkcjonalności do strony
            internetowej, zwiększającej jej wartość dla użytkowników.
          </p>
        </div>
        <!-- <IconList
          class="text-gray-dark"
          items={[
            "Czego brakuje na stronie?",
            "Co można ulepszyć?",
            "Co można zrobić lepiej?",
          ]}
        /> -->
        <Button
          link={buildSlug("/oferta/rozwoj-strony-www")}
          class="self-stretch md:self-start">
          Sprawdź ofertę rozwoju strony
        </Button>
      </div>
    </Row></Section
  >

  <Section center class="bg-accent-darkest text-white"
    ><div class="flex max-w-prose flex-col gap-4 md:text-center">
      <p class="text-h2">
        Korzystaj z cyfryzacji i automatyzacji. <span class="text-accent-light">
          Upraszczaj pracę, minimalizuj błędy i oszczędzaj czas!
        </span>
      </p>
    </div><Row maxColumns={2} placement="items-stretch"
      ><div
        class="flex flex-col justify-between gap-8 rounded bg-accent-dark p-8 shadow-sm">
        <div class="h-64">
          <MyImage
            src="pages/cyfryzacja.webp"
            alt="Osoba korzystając z nowoczesnych technologii - ubierająca okulary VR wirtualnej rzeczywistości."
          />
        </div><div class="flex flex-col gap-4">
          <h2 class="text-h4">Wdrażanie cyfrowych narzędzi</h2><p
            class="text-lg">
            Zleć poszukiwanie możliwości i/lub wdrażanie narzędzi cyfrowych dla
            Twojej firmy. Badź na czasie i korzystaj z odpowiednich narzędzi.
          </p>
        </div>
        <!-- <IconList
          class="text-gray-light"
          items={[
            "Gdzie można wdrożyć narzędzia cyfrowe?",
            "Jakie narzędzie będzie najlepsze?",
            "Jak je wdrożyć i dopasować do siebie?",
          ]}
        /> -->
        <Button
          link={buildSlug("/oferta/wdrazanie-narzedzi-cyfrowych")}
          class="self-stretch md:self-start">
          Sprawdź ofertę cyfryzacji
        </Button>
      </div><div
        class="flex flex-col justify-between gap-8 rounded bg-accent-dark p-8 shadow-sm">
        <div class="h-64">
          <MyImage
            src="pages/automatyzacja.webp"
            alt="Nowoczesna, zautomatyzoana ręka robotyczna"
          />
        </div><div class="flex flex-col gap-4">
          <h2 class="text-h4">Automatyzacja procesów firmowych</h2><p
            class="text-lg">
            Zleć poszukiwanie możliwości i/lub wdrożenie automatyzacji części,
            lub całego procesu w Twojej firmie. Oszczędzaj czas, minimalizuj
            błędy, tnij koszty."
          </p>
        </div>
        <!-- <IconList
          class="text-gray-light"
          items={[
            "Gdzie i co można zautomatyzować?",
            "Czy ten proces jest warty automatyzacji?",
            "Jak to zautomatyzować i dopasować do siebie?",
          ]}
        /> -->
        <Button
          link={buildSlug("/oferta/automatyzacja-procesow-firmowych")}
          class="self-stretch md:self-start">
          Sprawdź ofertę automatyzacji
        </Button>
      </div></Row
    ></Section
  >

  <Section center class="bg-gray-light">
    <div class="flex max-w-prose flex-col gap-8 text-center">
      <h2>To nie wszystko</h2>
      <p class="text-lg">
        Wyróżnione elementy oferty nie są jedyne, a także są bardzo złożone,
        składając się z wielu mniejszych.
      </p>
      <div class="flex justify-center">
        <Button link={buildSlug("/oferta/inne")}
          >Zobacz szerszą listę pól do współpracy</Button
        >
      </div>
    </div>
  </Section>

  <WorkingRules />

  <!-- CTA -->
  <CTA>
    <p class="text-center text-h2">Chcesz podjąć współpracę?</p>

    <Button variant="tetriary" link={buildSlug("/kontakt")}
      >Skontaktuj się</Button
    >
  </CTA>
</PageLayout>
