---
import Socials from "@components/widgets/Socials.astro"

const data = [
  {
    title: "Product",
    links: [
      { text: "Features", href: "#" },
      { text: "Security", href: "#" },
      { text: "Team", href: "#" },
      { text: "Enterprise", href: "#" },
    ],
  },
  {
    title: "Platform",
    links: [
      { text: "Developer API", href: "#" },
      { text: "Partners", href: "#" },
      { text: "Atom", href: "#" },
      { text: "Electron", href: "#" },
    ],
  },
  {
    title: "Support",
    links: [
      { text: "Docs", href: "#" },
      { text: "Community Forum", href: "#" },
      { text: "Professional Services", href: "#" },
      { text: "Skills", href: "#" },
    ],
  },
]
---

<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl">
    <div class="grid grid-cols-2 gap-8 px-4 py-6 md:grid-cols-3 lg:py-8">
      {
        data.map(({ title, links }) => (
          <div>
            <p class="mb-6 text-sm font-semibold uppercase text-gray-900 dark:text-white">{title}</p>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="font-medium text-gray-500 dark:text-gray-400">
                {links.map(({ text, href }) => (
                  <li class="mb-4">
                    <a href={href} class="hover:underline">
                      {text}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class="bg-gray-100 px-4 py-6 dark:bg-gray-700 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center"
        >© 2023 <a href="https://flowbite.com/">Flowbite™</a>. All Rights Reserved.
      </span>
      <Socials />
    </div>
  </div>
</footer>
