---
import { buildSlug } from "@utils/utils"
import Button from "@components/ui/Button.astro"

const data = [
  {
    text: "O mnie",
    href: "/o-mnie",
  },
  {
    text: "Oferta",
    href: "/oferta",
    links: [
      {
        text: "tworzenie strony www",
        href: "/tworzenie-strony-www",
      },
      {
        text: "cyfryzacja",
        href: "/cyfryzacja",
      },
    ],
  },
  {
    text: "Portfolio",
    href: "/portflio",
  },
  {
    text: "Blog",
    href: "/blog",
  },
]
---

<nav class="fixed start-0 top-0 z-20 w-full border-b border-gray bg-white">
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4">
    <a
      href="https://flowbite.com/"
      class="flex items-center space-x-4 rtl:space-x-reverse">
      <img
        src="https://flowbite.com/docs/images/logo.svg"
        class="h-8"
        alt="Flowbite Logo"
      />
      <span class="self-center whitespace-nowrap text-2xl font-semibold">
        Flowbite
      </span>
    </a>
    <div class="flex space-x-4 md:order-2 md:space-x-0 rtl:space-x-reverse">
      <Button link="#" size="sm">Get started</Button>
      <button
        id="hamburger-btn"
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex h-10 w-10 items-center justify-center rounded p-2 text-sm text-gray-dark transition-all duration-300 ease-in-out hover:bg-gray-light focus:outline-none md:hidden"
        aria-controls="navbar-sticky"
        aria-expanded="false">
        <span class="sr-only">Otwórz menu główne</span>
        <svg
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15">
          </path>
        </svg>
      </button>
    </div>
    <div
      class="mt-12 hidden h-screen w-full items-center justify-between md:order-1 md:mt-0 md:flex md:h-auto md:w-auto"
      id="navbar-sticky">
      <p class="text-center text-h3 md:hidden">Menu główne</p>
      <ul
        class="mt-6 flex flex-col gap-2 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 rtl:space-x-reverse">
        {
          data.map(({ text, href, links }) => (
            <li>
              {links?.length ? (
                <>
                  <button
                    id="dropdownNavbarLink"
                    data-dropdown-toggle="dropdownNavbar"
                    class="flex w-full items-center justify-between rounded bg-accent-light p-4 text-black transition-colors duration-300 ease-in-out hover:bg-accent hover:text-white md:w-auto md:border-0 md:bg-transparent md:p-0 md:hover:bg-transparent md:hover:text-accent-dark">
                    Dropdown{" "}
                    <svg
                      class="ms-2 h-2 w-2"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 10 6">
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 4 4 4-4"
                      />
                    </svg>
                  </button>
                  <div
                    id="dropdownNavbar"
                    class="z-10 hidden w-40 divide-y divide-gray-lightest rounded bg-white font-normal shadow">
                    <ul
                      class="py-2 text-sm text-gray-dark"
                      aria-labelledby="dropdownLargeButton">
                      {links.map(({ text: text2, href: href2 }) => (
                        <li>
                          <a href={buildSlug(href2)}>{text2}</a>
                        </li>
                      ))}
                    </ul>
                  </div>
                </>
              ) : (
                <a
                  href={buildSlug(href)}
                  class="block rounded bg-accent-light p-4 text-black transition-all duration-300 ease-in-out hover:bg-accent hover:text-white md:bg-transparent md:p-0 md:hover:bg-transparent md:hover:text-accent-dark md:hover:underline md:hover:underline-offset-2"
                  aria-current="page">
                  {text}
                </a>
              )}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.querySelector("[data-collapse-toggle]")
    const navbar = document.getElementById("navbar-sticky")
    const hamburger = document.getElementById("hamburger-btn")
    const scrollToTop = document.getElementById("scrollToTopBtn")

    menuButton?.addEventListener("click", function () {
      const isExpanded = !navbar?.classList.toggle("hidden")

      document.body.classList.toggle("overflow-hidden", isExpanded)

      if (isExpanded) hamburger?.classList.add("rotate-90")
      else hamburger?.classList.remove("rotate-90")

      if (scrollToTop)
        scrollToTop.style.display = isExpanded
          ? "none"
          : window.scrollY > 20
            ? "block"
            : "none"
    })
  })
</script>
