---
export interface Props {
  noTopPadding?: boolean
  noBottomPadding?: boolean
  maxWidth?: string
  center?: boolean
  withBackgroundImage?: boolean
  class?: string
  innerContainerClasses?: string
}

const {
  noTopPadding = false,
  noBottomPadding = false,
  maxWidth = "max-w-screen-xl",
  center = false,
  withBackgroundImage = false,
  class: className,
  innerContainerClasses,
  ...attributes
} = Astro.props
---

<section
  class:list={["w-full", withBackgroundImage && "relative", className]}
  {...attributes}>
  {
    withBackgroundImage && (
      <div class="l-0 t-0 absolute -z-10 size-full">
        <slot name="background" />
      </div>
    )
  }
  <div
    class:list={[
      "px-6",
      !noTopPadding && !noBottomPadding
        ? "py-16 md:py-24 lg:py-32"
        : noTopPadding
          ? "pb-16 md:pb-24 lg:pb-32"
          : noBottomPadding
            ? "pt-16 md:pt-24 lg:pt-32"
            : "",
      withBackgroundImage && "relative z-10",
      className,
    ]}>
    <div
      class:list={[
        "items container mx-auto flex flex-col items-start gap-6",
        center && "items-center",
        maxWidth,
        innerContainerClasses,
      ]}>
      <slot />
    </div>
  </div>
</section>
