{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": false,

  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["tv"],
  
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}