---
export interface Props {
  value: number
  class?: string
}

const { value, class: className } = Astro.props
---

<span
  class:list={[
    "before:left-[calc(0.4em * var(--n, 1))] animate-[counter_3s_ease-out_forwards] [counter-set:_num_var(--num-counter)] before:content-[counter(num)]",
    className,
  ]}
>
  <span class="sr-only">{value}</span>
</span>

<style define:vars={{ num: value }}>
  @property --num-counter {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @keyframes counter {
    from {
      --num-counter: 0;
    }
    to {
      --num-counter: var(--num);
    }
  }
</style>
