---
import { Icon } from "astro-icon/components"
---

<button
  id="scrollToTopBtn"
  class="fixed bottom-12 right-12 z-50 hidden rounded-full bg-accent p-2 text-white shadow duration-500 ease-in-out hover:bg-accent-dark">
  <Icon name="chevron-left" class="size-12 rotate-90" />
</button>

<script is:inline>
  const btn = document.getElementById("scrollToTopBtn")

  if (btn) {
    btn?.addEventListener("click", function () {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      })
    })

    window.addEventListener("scroll", function () {
      if (window.scrollY > 20) btn.style.display = "block"
      else btn.style.display = "none"
    })
  }
</script>
