---
import { Icon } from "astro-icon/components"

export const socials = [
  {
    title: "Facebook",
    href: "https://www.facebook.com/profile.php?id=61556981469608",
    svg: "facebook",
  },
  // {
  //   title: "Instagram",
  //   href: "https://www.instagram.com/user",
  //   svg: "instagram",
  // },
  // {
  //   title: "Youtube",
  //   href: "https://www.yotuube.com/@user",
  //   svg: "youtube",
  // },
  {
    title: "Linkedin",
    href: "https://www.linkedin.com/in/lukasz-milos/",
    svg: "linkedin",
  },
  // {
  //   title: "X",
  //   href: "https://www.x.com/user",
  //   svg: "x",
  // },
  {
    title: "Youtube",
    href: "https://www.youtube.com/@lukaszmilos",
    svg: "youtube",
  },
  {
    title: "Tiktok",
    href: "https://www.tiktok.com/@lukaszmilos",
    svg: "tiktok",
  },
]

export interface Props {
  itemsStyle?: string
  class?: string
}

const { itemsStyle, class: className } = Astro.props
---

<div class:list={["flex space-x-4", className]}>
  {
    socials.map((social) => (
      <a href={social.href} rel="nofollow" target="_blank" class={itemsStyle}>
        <Icon name={"socials/" + social.svg} class="size-8" />
        <span class="sr-only">{social.title}</span>
      </a>
    ))
  }
</div>
