---
import { Icon } from "astro-icon/components"

const socials = [
  {
    title: "Facebook",
    href: "https://facebook.com/user",
    svg: "facebook",
  },
  {
    title: "Instagram",
    href: "https://www.instagram.com/user",
    svg: "instagram",
  },
  {
    title: "Youtube",
    href: "https://www.yotuube.com/@user",
    svg: "youtube",
  },
  {
    title: "Linkedin",
    href: "https://www.linkedin.com/in/user/",
    svg: "linkedin",
  },
  {
    title: "X",
    href: "https://www.x.com/user",
    svg: "x",
  },
]
---

<div class="flex space-x-4 sm:justify-center">
  {
    socials.map((social) => (
      <a href={social.href} class="text-gray hover:text-gray-dark">
        <Icon name={"socials/" + social.svg} class="size-6" />
        <span class="sr-only">{social.title}</span>
      </a>
    ))
  }
</div>
