---
import { Icon } from "astro-icon/components"
---

<a
  href="/stylebook/"
  class="fixed right-12 top-24 z-50 rounded-full border-2 border-accent p-2 shadow duration-500 ease-in-out hover:bg-accent hover:text-white"
>
  <Icon name="doc" width={32} height={32} />
</a>
