---
import { type Meta } from "@components/core/MySEO.astro"
import Layout from "@layouts/Layout.astro"
import Section from "@components/core/Section.astro"
import Button from "@components/ui/Button.astro"

const meta: Meta = {
  title: "404 - Brak strony",
  description:
    "Strona nie została znaleziona. Sprawdź adres lub wróć na stronę główną.",
  og: false,
  tw: false,
  nofollow: true,
  noindex: true,
}
---

<Layout meta={meta}>
  <Section
    ><h1>404. Nie ma takiej strony</h1>
    <Button link="/" class="">Wróć na stronę główną</Button>
  </Section>
</Layout>
