---
import { buildSlug } from "@utils/utils"

export interface Props {
  categories: string[]
  class?: string
}

const { categories, class: className } = Astro.props
---

{
  categories.length > 0 && (
    <div class:list={["flex flex-row flex-wrap gap-2", className]}>
      {categories?.map((category) => (
        <a
          href={buildSlug("/blog/kategoria/" + category)}
          class="flex place-items-center border border-accent-lightest bg-accent-lightest px-4 py-2 text-center text-sm shadow-sm transition-colors duration-300 ease-in-out hover:bg-transparent">
          {category}
        </a>
      ))}
    </div>
  )
}
