---
import type { Page } from "astro"
import { Icon } from "astro-icon/components"
import data from "~/data/site.json"

export interface Props {
  page: Page
}

const { page } = Astro.props

const generatePageNumbers = () => {
  const maxPagesToShow = 5
  const currentPage = page.currentPage
  let pages = []

  const lastPage = Math.ceil(page.total / data.site.blog.itemsPerPage)

  if (lastPage <= maxPagesToShow) {
    // If we have 5 or fewer pages, show all pages
    for (let i = 1; i <= lastPage; i++) {
      pages.push(i)
    }
  } else {
    // If we have more than 5 pages
    if (currentPage <= 3) {
      pages = [1, 2, 3, "...", lastPage]
    } else if (currentPage >= lastPage - 2) {
      pages = [1, "...", lastPage - 2, lastPage - 1, lastPage]
    } else {
      pages = [1, "...", currentPage, "...", lastPage]
    }
  }

  return pages
}

const pageNumbers = generatePageNumbers()
---

{
  page && page.data && page.data.length > 0 && (
    <nav aria-label="Page navigation" class="py-4">
      <ul class="flex items-center text-base">
        <li>
          {page.url.prev ? (
            <a
              href={page.url.prev}
              class="ms-0 flex h-12 items-center justify-center rounded-s-lg border border-e-0 border-border_color bg-white px-4 leading-tight text-gray-dark hover:bg-gray-light">
              <span class="sr-only">Poprzednie</span>
              <Icon name="chevron-left" class="size-6" />
            </a>
          ) : (
            <div class="ms-0 flex h-12 items-center justify-center rounded-s-lg border border-e-0 border-border_color bg-white px-4 leading-tight text-gray">
              <Icon name="chevron-left" class="size-6" />
            </div>
          )}
        </li>

        {pageNumbers.map((num) =>
          num === "..." ? (
            <li class="px-base flex h-12 items-center justify-center border border-e-0 border-s-0 border-border_color bg-white leading-tight text-gray">
              ...
            </li>
          ) : (
            <li>
              <a
                href={num !== 1 ? `/blog/${num}/` : "/blog/"}
                class:list={[
                  "flex h-12 items-center justify-center border border-e-0 border-s-0 border-border_color px-4 leading-tight",
                  num === page.currentPage
                    ? "bg-accent-lightest text-accent hover:bg-accent-light hover:text-accent-dark"
                    : "bg-white text-gray-dark hover:bg-gray-light",
                ]}
                aria-current={num === page.currentPage ? "page" : undefined}>
                {num}
              </a>
            </li>
          )
        )}

        <li>
          {page.url.next ? (
            <a
              href={page.url.next}
              class="flex h-12 items-center justify-center rounded-e-lg border border-s-0 border-border_color bg-white px-4 leading-tight text-gray-dark hover:bg-gray-light">
              <span class="sr-only">Następne</span>
              <Icon name="chevron-right" class="size-6" />
            </a>
          ) : (
            <div class="flex h-12 items-center justify-center rounded-e-lg border border-s-0 border-border_color bg-white px-4 leading-tight text-gray">
              <Icon name="chevron-right" class="size-6" />
            </div>
          )}
        </li>
      </ul>
    </nav>
  )
}
