---
import { Icon } from "astro-icon/components"
import type { CollectionEntry } from "astro:content"

import { slugify } from "@utils/utils"

import Button from "@components/ui/Button.astro"

export interface Props {
  prevPost: CollectionEntry<"blog"> | null
  nextPost: CollectionEntry<"blog"> | null
  class?: string
}

const { prevPost, nextPost, class: className } = Astro.props
---

{
  (prevPost || nextPost) && (
    <div class:list={["flex flex-row justify-center gap-4", className]}>
      {prevPost?.slug && (
        <Button link={"/blog/" + slugify(prevPost.slug) + "/"}>
          <Icon name="chevron-left" class="size-6" />
          Poprzedni post
        </Button>
      )}

      {nextPost?.slug && (
        <Button link={"/blog/" + slugify(nextPost.slug) + "/"}>
          Następny post
          <Icon name="chevron-right" class="size-6" />
        </Button>
      )}
    </div>
  )
}
