---
import { type Meta, type Schema } from "@components/core/MySEO.astro"

import Layout from "@layouts/Layout.astro"
import MyBreadCrumbs from "~/components/widgets/MyBreadCrumbs.astro"

export interface Props {
  pageTitle: string
  pageDescription?: string
  meta: Meta
  schema?: Schema
  breadcrumbs?: boolean
}

const {
  pageTitle,
  pageDescription = null,
  meta,
  schema,
  breadcrumbs = false,
} = Astro.props
---

<Layout meta={meta} schema={schema}>
  <header
    class="align-center flex flex-col items-center bg-accent-darkest px-6 py-16 text-white">
    <div
      class="flex max-w-prose flex-col items-center justify-center gap-4 text-center">
      {breadcrumbs && <MyBreadCrumbs />}
      <h1>{pageTitle}</h1>
      {pageDescription && <p class="text-lg">{pageDescription}</p>}
      <slot name="header" />
    </div>
  </header>

  <slot />
</Layout>
