---
import { Icon } from "astro-icon/components"

export interface Props {
  items: string[]
  interactive?: boolean
  class?: string
}

const {
  items,
  interactive = false,
  class: className,
  ...attributes
} = Astro.props
---

<ul class:list={["flex flex-col gap-2", className]} {...attributes}>
  {
    items.map((item) => (
      <li
        class:list={[
          "flex flex-row items-center gap-2",
          interactive && "duration-300 ease-in-out hover:translate-x-4",
        ]}>
        <Icon name="chevron-right" class="text-left text-4xl text-accent" />
        <span class="flex-1">{item}</span>
      </li>
    ))
  }
</ul>
